{% extends 'layout.html.twig' %}

{% block content %}
<body class="row">
  <div class"">
    <img src="/assets/images/bgVoiture.jpg" alt="image" class="imgclass">
    <img src="/assets/images/bgVoiture1.jpg" alt="image" class="imgclass1">
    <img src="/assets/images/bgVoiture2.jpg" alt="image" class="imgclass2">
    <img src="/assets/images/bgVoiture3.jpg" alt="image" class="imgclass3">
      <div class="row justify-content-end">
        <div class="card home d-flex m-4">
          <div class="card-body ">
            <h5 class="card-title">Reservez votre véhicule</h5>
            <form method="post">
              <input type="hidden" name="id" value="">
                <div class="form-group">
                  <label class="col-form-label" for="birthday">Début : </label>
                  <input type="date" class="form-control border border-3" name="birthday">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="birthday">Fin : </label>
                  <input type="date" class="form-control border border-3" name="birthday">
                </div>
              <a class="btn btn-primary mt-2" href="/reservation">Offre</a>
            </form>
          </div>
        </div>
      </div>
        <img src="/assets/images/clef.png" width="450px" heigt="450px" alt="image" class="clef">
  </div>
        </div>
        <h4 class="h4">  Votre site de location de voiture</h4>
  </div>
</body>

{% endblock %}