{% extends 'layout.html.twig' %}

{% block content %}


    <img src="/assets/images/photohome.png" alt="" width="1950" height="888" class="d-inline">
  <div class="card home" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Reservez votre véhicule</h5>
  <form method="post">
    <input type="hidden" name="id" value="">
            <div class="form-group">
                <label class="col-form-label" for="birthday">Début : </label>
                <input type="date" class="form-control border border-3" name="birthday" value="{{ wizard.birthday }}">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="birthday">Fin : </label>
                <input type="date" class="form-control border border-3" name="birthday" value="{{ wizard.birthday }}">
            </div>
                <a class="btn btn-primary" href="/wizard">Offre</a>
</form>
  </div>
</div>


{% endblock %}