{% extends 'layout.html.twig' %}

{% block content %}


    <img src="/assets/images/photohome.png" alt="image" width="100%" height="888" class="imgclass">
    <div class="row justify-content-end">
  <div class="card home d-flex m-4">
  <div class="card-body ">
    <h5 class="card-title">Reservez votre véhicule</h5>
  <form method="post">
    <input type="hidden" name="id" value="">
            <div class="form-group">
                <label class="col-form-label" for="birthday">Début : </label>
                <input type="date" class="form-control border border-3" name="birthday" value="{{ wizard.birthday }}">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="birthday">Fin : </label>
                <input type="date" class="form-control border border-3" name="birthday" value="{{ wizard.birthday }}">
            </div>
                <a class="btn btn-primary" href="/wizard">Offre</a>
</form>
  </div>
</div>
</div>


{% endblock %}