
<div class="text-center text-white fixed-bottom footer d-flex justify-content-center align-items-center">
    <h5 class="text-white"><a href="#">Nous-Contacter</a></h5>
    <h5 class="text-white"> &nbsp &nbsp © 2020 Copyright:MDBootstrap.com &nbsp &nbsp </h5>
    <h5 class="text-white"><a href="#">information général</a></h5>
</div>
