
<div class="text-center text-white fixed-bottom footer d-flex justify-content-center align-items-center">
    
    <a class="text-white" href="https://mdbootstrap.com/">© 2020 Copyright:MDBootstrap.com</a>
</div>
