
<nav class="navbar navbar-expand-lg navbar-dark  color1">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
      
      <img src="/assets/images/logo.png" alt="" width="57" height="68" class="d-inline">
      
    </a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Acceuil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if (carIndex) %} active{% endif %}" href="/car">véhicules</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <input class="form-control me-auto mb-2 mb-md-0" style="width: 300px"type="text">
          </li>
          <li class="nav-item">
            <button class="btn btn-secondary " type="submit">Search</button>
          </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/subscribe">Inscription</a>
        </li>
      <li class="nav-item ">
        <a class="nav-link " href="/user/profile">Profil</a>
        </li>
      <li class="nav-item">
            <a class="nav-link btn btn-secondary text-black" href="/user/login">Connexion</a>
        </li>
      <li class="nav-item">
          <a class="nav-link btn btn-light text-black" href="/user/logout">Deconnexion</a>
        </li>
        
        
          
        </ul>
    </div>
  </div>
</nav>

