.navclass{
    background: #f09a0f; 
    left: -04px; 
}
.navclass2{
    background: #f09a0f; 
    left: -16px; 
}

.home{
    width: 300px;
    height: 300px;
}

.imgclass{
    position: absolute;
    width: 100%;
}

body{
    width : 100%;
}
.ajustCar{
    left: -15px;
} 

.body2{

    left: -04px; 
}

.color-info, .color-success, .color-warning, .color-danger {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 31px;
}
.color-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.color-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.color-warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.color-danger {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}
