.color1{
    background: #f09a0f;
}

.color2 {
    margin-left: 400px;
}

.color3 {
    margin-left: 600px;
}

.home{

    width: 300px;
    height: 300px;
    /* top: 20px; */
}
.imgclass{
    position: absolute;
}