{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Car</h1>
    <ul>
        {% for renault in renaults %}
            <li>{{ renault.id }} {{ renault.brand  }} {{ renault.name }}</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
        </ul>
{% endblock %}