{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="mx-4 m-2">Voici nos marques : </h1>

<div class="card m-5" style="max-width: 540px;">
<div class="row g-0">
    <div class="col-md-4">
    <img src="/assets/images/2008.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Peugeot</h5>
        <p class="card-text">Tous nos véhicules de la marque Peugeot</p>
        <a class="btn btn-primary mb-3" href="/peugeot">Ici </a>
    </div>
    </div>
</div>
</div>

<div class="card m-5" style="max-width: 540px;">
<div class="row g-0">
    <div class="col-md-4">
    <img src="/assets/images/megane.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Renault</h5>
        <p class="card-text">Tous nos véhicules de la marque Renault</p>
        <a class="btn btn-primary mb-3" href="/renault">Ici </a>
    </div>
    </div>
</div>
</div>

<div class="card m-5" style="max-width: 540px;">
<div class="row g-0">
    <div class="col-md-4">
    <img src="/assets/images/Puma Flexifuel E85.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title">Ford</h5>
        <p class="card-text">Tous nos véhicules de la marque Ford</p>
        <a class="btn btn-primary mb-3" href="/ford">Ici </a>
    </div>
    </div>
</div>
</div>
{% endblock %}
