{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Car</h1>
    <ul>
        {% for car in cars %}
            <li>{{ car.id }} {{ car.brand }} {{ car.name }}</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/car/add">Add</a>
{% endblock %}
