{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="mx-4 "> Modèle Ford : </h1>
    <div class="d-flex flex-wrap d-flex justify-content-center" style="">
        {% for ford in fords %}
        <div class="card m-2" style="max-width: 450px">
                <h5 class="m-1 mx-2">{{ ford.brand }} {{ ford.name }}</h5>
                <img src="/assets/images/{{ford.name}}.png" class="m-2"></a>
        </div>
        {% else %}
                <li>Nothing to display</li>
        {% endfor %}
    </div>
{% endblock %}