{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Car</h1>
    <ul>
        {% for ford in fords %}
            <li>{{ ford.id }} {{ ford.brand  }} {{ ford.name }}</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
        </ul>
{% endblock %}